// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

form.bp {
  @include blueprint-form;
  
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  fieldset.inputs {
    @include column(10);
  }
  fieldset.buttons {
    @include column(10);
    text-align: right;
    margin: 1em 0 0 0;
  }
  
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      margin: 1em 0 0 0 ;
      padding: 0;
      height: 2em;
    }
    
    label {
      @include column(2);
      float: left;
      padding-top: 0.3em;
    }
    
    li.file input, li.string input, li.url input {
      @include column(5);
      margin: 0;
      padding: 4px;
    }
    
    li.text {
      height: 8em;
      textarea {
        height: 7em;
      }
    }
    
    li.text textarea, li.string input, li.url input {
      width: 275px;
    }
    
    .file_drop {
      @include column(2);
      float: right;
      position: relative;
      top: -5.4em;
      height: 5.8em;
      margin: 0;
      
      .html5_upload_area {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#new_asset {
  @include column(10);
  
  fieldset.inputs {
    li.url input {
      width: 215px;
    }
  }
}

.edit_asset {
  @include column(10);
}

.html5_upload_area {
  border: 1px #9F9 solid;
  &.drag_over {
    border-color: #99F;
  }
}