// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
//@import "partials/two_col";

.time_capsule_interface_graph {
  width: 1000px;
  height: 300px;
  
  td.legendColorBox {
    width: 15px;
  }
  
  .legend {
    position: absolute;
    
    width: 170px;
    
    top: 0px;
    right: -170px;
    
    table {
      width: 150px;
    }
    
    tr.disabled {
      color: #888;
      text-decoration: line-through;
    }
  }
}

.time_capsule_interface_archive_graph {
  width: 1000px;
  height: 100px;
}