#time_capsule_interfaces
  - TimeCapsuleInterface::INTERFACES.each do |interface|
    .time_capsule_interface_graph{:data => {:interface => interface}}
  
= javascript_tag do
  == var time_capsule_interfaces_data = #{TimeCapsuleInterface.to_json_flot(@data).html_safe}