%li[asset]{:data => {:attributes => asset.to_json}}
  = link_to image_tag(asset.file.thumb.url,:width => 100,:height => 100), asset
  %ul.actions
    %li.edit_tags= link_to 'edit tags', asset_path(asset)
    %li.destroy= link_to 'delete', asset_path(asset), :method => :delete, :confirm => 'Are you sure you want to delete this asset?'
