%h1 Assets
%ul
  = render @assets
= html5_template("asset_tags_editor") do
  = semantic_form_for(:post,:url => "/assets/${asset.id}",:html => {:method => 'put'}) do |f|
    = render 'assets/tags_editor', :f => f